*~
*#
.bak
/bin/
build
/build
.cache
*,cover
.coverage
.coverage.*
coverage.xml
dist
doc/_build
.doctrees
*.DS_Store
*.egg-info
/etc/
*_flymake.py
htmlcov/
.hypothesis/
.idea
*.idea
*.iml
/include/
junit*.xml
.kitchen
.kitchen.local.yml
/lib/
/lib64/
/local/
/logs
MANIFEST
metadata.json
*.mo
nosetests.xml
.orig
/pip/
pkg/
/.project
*.pyc
__pycache__/
*$py.class
*.py[co]
*.py[cod]
/.pydevproject
/root/**
/.ropeproject
.ropeproject
.ruby-version
/salt/_syspaths.py
/.settings
/share/
/src
*.sublime-project
*.sublime-workspace
.*.sw?
*.swo
*.swp
_syspaths.py
tags
tests/build/
/tests/cachedir/
tests/integration/cloud/providers/logs
tests/integration/cloud/providers/pki/minions
tests/integration/files/conf/grains
/tests/integration/tmp/
/tests/unit/templates/roots/
tests/unit/templates/roots
*.tmp
top.sls
.tox/
.vagrant/
**/.vagrant
**/Vagrantfile
/var/
varstack.egg-info
vendor
_version.py
*.wpr
*.wpu
