{% import_yaml "bareos/defaults.yaml" as defaults %}
{% import_yaml "bareos/osfamilymap.yaml" as osfamilymap %}

{% set bareos = salt['grains.filter_by'](
   defaults,
   merge=salt['grains.filter_by'](
         osfamilymap,
         grain='os_family',
         merge=salt['pillar.get']('bareos', {}),
   ),
   base='bareos',
) %}
